@using MvcStok.Models.Entity
@model List<URUNLER>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Ürün Id</th>
        <th>Ürün Adı</th>
        <th>Markası</th>
        <th>Kategori</th>
        <th>Fiyat</th>
        <th>Stok</th>
    </tr>
    <tbody>
            @foreach(var urn in Model)
            {
                <tr>
                    <td>@urn.Urun_ID</td>
                    <td>@urn.Urun_AD</td>
                    <td>@urn.Urun_KATEGORI</td>
                    

                </tr>
            }
    </tbody>
</table>

