@model MvcStok.Models.Entity.MUSTERILER

@{
    ViewBag.Title = "MusteriGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Guncelle", "Musteri", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Musteri_ID)
        @Html.TextBoxFor(m => m.Musteri_ID, new { @class = "form-control" })
    </div>
    <br />

    <div class="form-group">
        Müşteri Adı:
        @Html.TextBoxFor(m => m.Musteri_AD, new { @class = "form-control" })
    </div>
    <br />
    <div class="form-group">
        Müşteri Soyadı:
        @Html.TextBoxFor(m => m.Musteri_SOYAD, new { @class = "form-control" })
    </div>
    <div>
        <button class="btn btn-warning">Müşteri Güncelle</button>
    </div>
}

