@model MvcStok.Models.Entity.MUSTERILER

@{
    ViewBag.Title = "YeniMusteri";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <Label>Müşteri Adı</Label>
        @Html.TextBoxFor(m => m.Musteri_AD, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Musteri_AD, "", new { @style = "color:red" })
    </div>
    <div>
        <label>Müşteri Soyadı</label>
        <input type="text" class="form-control" name="Musteri_SOYAD" />

    </div>

    <div style="margin-top:15px">
        <button class="btn btn-info">Müşteri Ekle</button>
    </div>
</form>


