@using MvcStok.Models.Entity
@model List<KATEGORILER>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Kategori ID</th> 
        <th>Kategori ADI</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    <tbody>
         @foreach(var ktgr in Model)
            {
                <tr>
                    <th>@ktgr.Kategori_ID</th>
                    <td>@ktgr.Kategori_AD</td>
                    <td><a href="/Kategori/Sil/@ktgr.Kategori_ID" class="btn btn-danger">Sil</a></td>
                    <td><a href="/Kategori/KategoriGetir/@ktgr.Kategori_ID" class="btn btn-success">Güncelle</a></td>
                </tr>
            }
            
              
            
    </tbody>
</table>
<a href="/Kategori/YeniKategori/" class="btn btn-primary">Yeni Kategori Ekle</a>

