@model MvcStok.Models.Entity.KATEGORILER

@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Guncelle","Kategori", FormMethod.Post))
            {
                <div class="form-group">
                    @Html.LabelFor(m=>m.Kategori_ID)
                    @Html.TextBoxFor(m=>m.Kategori_ID, new { @class = "form-control"})
                    <br />
                    @Html.LabelFor(m=>m.Kategori_AD)
                    @Html.TextBoxFor(m=>m.Kategori_AD, new { @class="form-control" })
                </div>
                <div>
                    <button class="btn btn-warning">Kategori Güncelle</button>
                </div>
            }

